body{
    background: blue;
}
.image-box{
background-image: url('images.jpg');
position: relative;
height: 100px;
width: 100px;
top:20px;
left:20px;
right:20px;
bottom:20px;
cursor: pointer;



}

.whitebox{
    display: inline-block;
    height:150px;
    width:150px;
    border : 5px solid black;
}

.hold{
    border: 5px solid green;;
}

..image-box.hide{
    display: none;
}